@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-montserrat;
}

.btn {
  @apply cursor-pointer inline-block border border-brand-primary rounded-md px-4 py-2 hover:bg-yellow-100;

  &.is-primary,
  &.is-active {
    @apply bg-brand-primary text-yellow-500;
  }
  &:disabled {
    @apply opacity-50;
  }
}