@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-montserrat;
}

body.development {
  @apply border-r-2 border-red-700;
  &::before {
    content: "Development version";
    @apply fixed right-0 top-3/4 rotate-90 text-white bg-red-700 p-2 origin-top-right;
  }
}

.btn {
  @apply cursor-pointer inline-block border border-brand-primary rounded-md px-4 py-2 hover:bg-brand-gold;

  &.is-primary,
  &.is-active {
    @apply bg-brand-primary text-brand-gold;
  }
  &.has-text-sm {
    @apply text-sm;
  }
  &.is-rounded-full {
    @apply rounded-full;
  }
  &:disabled {
    @apply opacity-50;
  }
}

form,
.form {
  .invalid .input input {
    @apply border-red-400;
  }
  .errors {
    @apply text-red-500 text-sm;
  }
  .input-meta {
    @apply text-sm flex justify-between min-h-[1.25rem];
    .detail {
      @apply text-right text-brand-gray-400;
    }
  }
}